rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {

    // Rules for profile pictures
    // Allow users to read and write their own profile picture.
    match /profile-pictures/{userId}/{fileName} {
      allow read;
      allow write: if request.auth != null && request.auth.uid == userId;
    }

    // Rules for course images
    // Allow anyone to read course images.
    // Allow authenticated institute owners to upload images for their own courses.
    match /course-images/{courseId}/{fileName} {
      allow read;
      allow create: if request.auth != null && 
                     get(/databases/(default)/documents/courses/$(courseId)).data.instituteId == request.auth.uid;
    }
  }
}
